.home_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)), url('../img/indexbkg.png') repeat 0 0;
}
.livre_wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content:space-around;
}
.livre{
  margin: 1em;
  transition: all ease-in-out 0.5s;
}

.livre:hover {
  transform: scale(1.05);
}  

.round {
  border: 0;
  background-color: transparent;
  text-decoration: none;
  display: block;
  padding: 14px 28px;
  font-size: 40px;
  border-radius: 10%;
  size: 20px;
}
.round:hover span{
  color: black;
  transition: all 0.5s;
}

.next:hover , .previous:hover {
  background-color: #7a7880;
}
    

.previous {
  color: white;
  padding: 14px ;
}
        
.next {
  color: white;
  padding: 14px ;

}
 
      

      

