{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<a href="{{ path('admin_app_livre_index') }}">Livre</a>
<a href="{{ path('admin_app_category_index') }}">Category</a>
<a href="{{ path('admin_app_auteur_index') }}">Auteur</a>

{% endblock %}
