<footer class="footer">
    <div class="footer_container">
        <div class="footer_about">
            <h3>ABOUT US</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis inventore necessitatibus molestias vel voluptatum! Aperiam libero repudiandae corrupti itaque beatae magni quidem qui odit ea? Doloribus molestias omnis tenetur quod!</p>
            <a href="{{ path('index') }}"><img class="header_logo" src="{{ asset('img/wepik-logo-light.png') }}" alt="librarie logo"></a>
        </div>
        <div>
            <h3>QUICK LINKS</h3>
            <ul class="footer_list">
                <li><a href="">Account</a></li>
                <li><a href="">Livres</a></li>
                <li><a href="">Panier</a></li>
                <li><a href="">Contact us</a></li>
            </ul>
        </div>
        <div>
            <h3>SUPPORT</h3>
            <ul class="footer_list">
                <li><a href="">Tech support</a></li>
                <li><a href="">Documentation</a></li>
                <li><a href="">F.A.Q</a></li>
            </ul>
        </div>
        <div>
            <h3>FOLLOW US</h3>
            <div class="footer_social_wrapper">
                <div class="footer_social"><i class="fa-brands fa-facebook-f"></i></div>
                <div class="footer_social"><i class="fa-brands fa-twitter"></i></div>
                <div class="footer_social"><i class="fa-brands fa-instagram"></i></div>
                <div class="footer_social"><i class="fa-brands fa-youtube"></i></div>
            </div>
        </div>
    </div>
    <div>
        <ul class="footer_list footer_law">
            <li><a href="">Privacy </a>|</li>
            <li><a href="">&nbsp;Terms & Conditions </a>|</li>
            <li><a href="">&nbsp;Cookies</a></li>
        </ul>
    </div>
</footer>