{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="form_container">
        <h1>Connectez-vouz</h1>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form class="form" action="{{ path('app_login') }}" method="post">
            <div class="form_block">
                {# <label for="username">Email:</label> #}
                <input class="form_input" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Email">
            </div>
            <div class="form_block">
                {# <label for="password">Password:</label> #}
                <input class="form_input" type="password" id="password" name="_password" placeholder="Password">
            </div>
            <input type="hidden" name="_target_path" value="/">
            <button class="form_btn primary_font" type="submit"><strong>Login</strong></button>
        </form>
        <p>Vous avez pas un compte ? <a class="link_sourline" href="{{ path('app_signup')}}">vous pouver le crée ici</a></p>
    </div>

{% endblock %}
